button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  
  .navbar-block {
    display: block !important;
  }
  
  /* Hide Full Menu on Smaller Screens */
  @media (max-width: 767px) {
    .navbar-menu {
      display: none;
    }
  }
  
  /* Show Hamburger Menu only on Smaller Screens */
  .hamburger {
    display: none;
  }
  .navbar-menu {
    display: none; /* By default, the menu is hidden */
  }
  
  @media (max-width: 767px) {
    .hamburger {
      display: block;
    }
    .navbar-menu {
      position: absolute;
      top: 100%; 
      left: 0;
      right: 0;
      background-color: #cbcaca; 
      border-top: 1px solid #ddd; 
      z-index: 1000;
    }
  
    .navbar-menu.navbar-block {
      display: block; 
    }
  
    .navbar-menu li {
      display: block; 
      text-align: center; 
    }
  
    .navbar-menu li a {
      display: block;
      padding: 10px 15px;
      color: #555;
      border-bottom: 1px solid #eee;
    }
  
    .navbar-menu li a:hover, .navbar-menu li a:focus {
      background-color: #f8f8f8; 
    }
  }
  
  /* Show Full Menu on Larger Screens */
  @media (min-width: 768px) {
    .navbar-menu {
      display: flex;
    }
  }
  
  .navbar-dark-grey {
    background-color: #000000;
  }
  
  /* Navbar Link Styles */
  .navbar-menu li a {
    color: #fff;
    padding: 10px 15px; 
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .navbar-menu li a:hover, .navbar-menu li a:focus {
    color: #fff; 
    background-color: #333; 
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-menu li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu li a:hover {
    background-color: #333;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  
  /* Add this to your NavbarStyles.css */
  .navbar .dropdown-menu {
    position: absolute;
    z-index: 1000;
  }
  .navbar .relative > button {
    z-index: 1001; /* Higher than the dropdown menu */
  }
  .text-white {
    color: white;
  }
  
  